---
layout: default
---

<div class="container hero">
  <div class="row">
    <div class="text-left col-md-6">
      <h1>Estos son los 15 puntos clave del Informe Anticorrupción según Ciudadano Inteligente.</h1>
    </div>
    <div class="col-md-6">
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 5%"><h2>2%</h2>
          <span class="sr-only">2% Aprobadas</span>
        </div>
        <div class="progress-bar progress-bar-warning" style="width: 8%"><h2>8%</h2>
          <span class="sr-only">8% En agenda</span>
        </div>
        <div class="progress-bar progress-bar-danger" style="width: 87%"><h2>90%</h2>
          <span class="sr-only">90% Ignoradas</span>
        </div>
      </div>
    </div>
  </div>
<div>2%</div>
<div>8%</div>
<div>90%</div>
</div>


<section>
  <div class="container">
    <div class="row">
    {% assign count = 1 %}
      {% for card in site.cards %}
          {% include card.html %}
        {% assign mod = count | modulo:3 %}
        {% if mod == 0 %}
          </div><div class="row">
        {% endif %}
        {% assign count=count | plus:1 %}
      {% endfor %}
    </div>
  </div>
</section>