---
layout: default
---

<div class="container hero">
  <div class="row">
    <div class="text-left col-md-6">

    </div>
  </div>
  <h1 class="text-center">Estas son las 9 propuestas más importantes de la Agenda de Transparencia que arriesgan no ser aprobadas por el Congreso</h1>
  <h2 class="text-center">Descubre por qué debemos aprobarlas, en qué está su discusión y apoya las medidas que te parezcan importantes.</h2>
  <ul class="share-btn list-inline">
    <li class="text-center">
      <a class="twitter-share-button btn btn-primary btn-xs" onclick="window.open('https://twitter.com/intent/tweet?via=ciudadanoi&text={{ site.description }}','_blank','height=400,width=300')"><i class="fa fa-twitter"></i> Twittear</a>
    </li>
    <li class="fb-share-button" data-href="http://agendatransparencia.cl/" data-layout="button"></li>
  </ul>
</div>

<section id="cards" ng-app="atransparenciaApp">
  <div class="container" ng-controller="AddVotesCtrl">
    <div class="row">
    {% assign count = 1 %}
      {% for card in site.cards %}
          {% include card.html %}
        {% assign mod = count | modulo:3 %}
        {% if mod == 0 %}
          </div><div class="row">
        {% endif %}
        {% assign count=count | plus:1 %}
      {% endfor %}
    </div>
  </div>
</section>