---
layout: default
---

<section id="poke-it">
  <div class="container">
      <ul class="grid cs-style-3 clearfix">
          {% assign counter=0 %}
          {% for congressman in site.congressmen %}
          <div class="col-md-15 col-sm-15">
              <div class="thumbnail">
                  <img src="{{site.url}}/img/congressman/{{congressman.image}}" alt="{{congressman.name}}">
                  <div class="caption">
                      <h4>{{ congressman.name }}</h4>
                      <p>{{ congressman.party }}</p>
                        <div class="redes">
                          <a href="#" onclick="window.open(&quot;//twitter.com/share?url=http://agendatransparencia.cl/&amp;via=ciudadanoi&amp;hashtags=LosCiudadanosQueremos&amp;text={{ congressman.twitter }}&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)" class="full-width btn btn-primary"><i class="fa fa-twitter"></i> Twitteale
                          </a>
                        </div>
                        <div>
                          <a href="mailto:{{ congressman.mail }}?Subject=Prensa%20de%20labcivico.org" class="email-prensa full-width btn btn-primary" target="_top"><i class="fa fa-envelope-o"></i> Envíale un mail</a>
                        </div>
                  </div>
              </div>
          </div>
          {% if counter == 4 %}
          </ul>
          <ul class="grid cs-style-3 clearfix">
          {% endif %}
          {% assign counter=counter | plus:1 %}
          {% endfor %}
      </ul>
  </div>
</section>