<div class="col-md-4">
	<div class="box">
		<ul class="list-inline status text-right">
			<li><span class="label label-{{ card.status | replace:' ','-' }}">{{ card.status }}</span></li>
		</ul>
		<div class="card-description">
			{% if card.details %}
				<a href="#" data-toggle="modal" data-target="#myModal-{{ card.id }}">Detalles</i></a>
			{% endif %}
			<h3>
				{{ card.title }}
			</h3>
			{% if card.title %}
				{% include modal.html %}
			{% endif %}

			<h5>¿Por qué es importante?</h5>
			{% for quote in card.importance %}
			<blockquote>{{ quote.txt }}</blockquote>
			{% endfor %}

		</div>

		{% if card.news %}
			<div class="news">
				<h5>¿Qué esta pasando?</h5>
				{% for quote in card.news %}
					<blockquote>{{ quote.txt }}</blockquote>
				{% endfor %}
			</div>
		{% endif %}

		<div class="support">
			<div class="row">
				<div class="col-md-6 counter">
					<ul class="list-inline">
						{% for nro in card.citizens_cnt %}
						<li>{{nro}}</li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-md-6 align-ciudadanos">
					Ciudadanos que apoyan la propuesta
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<a class="btn btn-md btn-success full-width" href="/">Apoyar</a>
				</div>
			</div>
		</div>
	</div>
</div>