<div class="col-md-4">
	<ul class="list-inline">
		<li> {{ card.status }} </li>
	</ul>
	<p>
		{{ card.description }}
	</p>
	<h3>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi?</h3>
	{% for quote in card.quotes %}
	<blockquote> {{ quote.txt }} </blockquote>
	{% endfor %}
	<div>
		<h3>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi?</h3>
		<div class="row">
			<div class="col-md-6">
				<ul class="list-inline">
					{% for nro in card.parliamentarians_cnt %}
					<li>{{nro}}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-6">
				Parlamentarios
			</div>
		</div>
		<ul class="list-inline">
			{% for party in card.parties %}
				<li><a href="#" data-toggle="modal" data-target="#myModal-{{party.name | downcase}}">{{party.name}}</a></li>
			{% endfor %}
		</ul>
		{% for party in card.parties %}
			{% include modal.html %}
		{% endfor %}

		<div class="row">
			<div class="col-md-6">
				<ul class="list-inline">
					{% for nro in card.citizens_cnt %}
					<li>{{nro}}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-6">
				Ciudadanos
				<span>Apoya esta propuesta</span>
			</div>
		</div>
	</div>
</div>