<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div>
          <h1>Declaración de apoyo ONGs Internacionales</h1>
          <p>Las organizaciones abajo firmantes presentamos la siguiente declaración para manifestar nuestra preocupación ante los hechos irregulares y reñidos con la ética pública que se han conocido y se están investigando en Chile, tales como corrupción, tráfico de influencias, financiamiento irregular a la política, entre otros. <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">Leer completo</a></p>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <p>Respecto de estos, confiamos en que con el debido enjuiciamiento de los responsables las instituciones chilenas adoptarán las medidas necesarias para asegurar a la comunidad internacional que dichos actos no son generalizados y son reprochables en el país.</p>
      <p>Asimismo, esperamos que este constituya una oportunidad en que todos los actores claves
      ­Gobierno, Parlamento, partidos políticos, academia y sociedad civil­ puedan acordar las
      medidas legales y las que sean necesarias para realizar los cambios conducentes a que estos
      hechos no vuelvan a ocurrir en el futuro y, en su caso, sean debidamente sancionados.</p>
      <p>El control social de las instituciones es inherente y necesario en un régimen democrático y sólo
      es posible a través del monitoreo del apego de las autoridades a los estándares éticos y
      legales. , a su vez, contribuye a supervisar el apego de las autoridades a la legalidad vigente y
      a los estándares éticos exigibles. La transparencia de las instituciones públicas y el sector
      privado constituyen un inhibidor de los actos de corrupción y, a su vez, permiten que éstos
      salgan a la luz para enfrentarlos debidamente.</p>
      <p>En relación con los valores de transparencia y control social señalados precedentemente, las
      organizaciones firmantes instamos al Gobierno chileno a aprobar las reformas que se alineen
      con las siguientes recomendaciones:</p>
      <ul>
      <li>
      Para garantizar un adecuado control social, es necesario dotar a los medios de
      comunicación, sociedad civil y ciudadanía de las herramientas e información necesarias
      para llevar a cabo un monitoreo independiente, tal como información completa,
      actualizada y oportuna en formatos abiertos.
      </li>
      <li>
      Las normas que regulen el financiamiento a la política deben asegurar una debida
      transparencia de éste, inhibir la captura de la política, contemplar medidas de
      fiscalización y sanciones ejemplares a quienes las infringen.
      </li>
      <li>
      Las relaciones entre el sector privado y público deben realizarse de frente a la
      ciudadanía, garantizando a la ciudadanía la oportunidad de determinar si se está
      sobreponiendo el interés general por sobre el interés particular.
      </li>
      </ul>
      <p>Al realizar estas recomendaciones, expresamos nuestra confianza en que las instituciones
      chilenas serán capaces de dar los pasos necesarios para superar el desafío actual y
      convertirse en un referente mundial en relación a cómo enfrentar la corrupción, con los mejores
      estándares regulatorios e institucionales.</p>
      <p>Le saluda atentamente,</p>
      <p>La comunidad global de la sociedad civil</p>
    </div>
</div>