{% assign counter=1 %}
<div class="container">
    <!-- projects row -->
    <div class="row share-img">
        {% for flyer in site.campaign_flyers %}
            {% if {{flyer.active}} == true %}
                <div class="col-lg-4 col-sm-4 col-xs-12">
                    <img class="img-responsive item" src="{{ site.baseurl }}/img/campaign/{{flyer.image}}" alt="">
                    <span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-url="none" data-text="{{flyer.description}}"></a></span>
                </div>
                {% assign counter=counter | plus:1 %}
            {% endif %}
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>