<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li><a href="mailto:prensa@ciudadanointeligente.org?Subject=Prensa%20de%20agendatransparencia.cl" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Mail de contacto</a></li>
          <li><a href="//eepurl.com/3qrNj" class="email-prensa"><i class="fa fa-newspaper-o"></i> Suscríbete a nuestro newsletter</a></li>
        </ul>
      </div>
      <div class="col-md-4 logo-fci">
        <ul class="list-unstyled">
          <li>
            Desarrollado por <a href="//ciudadanointeligente.org/" target="_blank"><img src="{{ site.baseurl }}/img/logo-ciudadanoi.png" title="Fundación Ciudadano Inteligente"></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-right">
        <ul class="list-unstyled">
          <li><a href="//github.com/ciudadanointeligente/agendatransparencia" target="_blank"><i class="fa fa-github-alt"></i>  Revisa el código en Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Google Analytics: change site.analytics to be your site's ID. -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', "{{ site.analytics }}", "{{ site.basedomain }}");
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
</script>
