<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a class="navbar-brand" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/img/logo.png"></a><span class="sub-brand">de <a href="//ciudadanointeligente.org/">ciudadanointeligente.org</a></span>
      </div>
      <div class="col-md-8">
        <ul class="nav nav-pills">
          <!-- <li role="presentation"><a href="#">Cumplimiento</a></li> -->
          <!-- <li role="presentation"><a href="#">Nuestra Postura</a></li> -->
          <!-- <li role="presentation"><a href="./meme.html">Generador de memes</a></li> -->
          <li role="presentation" class="pull-right"><a href="{{ site.baseurl }}/manifiesto.html" class="btn btn-success">Revisa el Manifiesto</a></li>
        </ul>
      </div>
<!--       <div class="col-md-3 text-right">
        <a href="http://ciudadanointeligente.org/" target="_blank" class="logo-fci"><img src="https://ckannet-storage.commondatastorage.googleapis.com/2015-01-22T13:30:28.652Z/logo-ciudadanoi.png" width="200px"></a>
      </div> -->
    </div>
  </div>
</header>
