<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="navbar-brand" href="{{ site.baseurl }}/.">Agenda transparencia<span class="sub-brand">de ciudadanointeligente.org</span></a>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-pills">
          <li role="presentation"><a href="#">Cumplimiento</a></li>
          <li role="presentation"><a href="#">Nuestra Postura</a></li>
          <li role="presentation"><a href="./meme.html">Generador de memes</a></li>
        </ul>
      </div>
      <div class="col-md-3 text-right">
        <a href="http://ciudadanointeligente.org/" target="_blank" class="logo-fci"><img src="{{ site.baseurl }}/img/logo-ciudadanoi.png" width="200px"></a>
      </div>
    </div>
  </div>
</header>