<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div>
          <h1>Manifiesto</h1>
          <p>Lxs ciudadanxs queremos que este clima de desconfianza, incertidumbre y corrupción termine. Los escándalos vinculados al uso irregular de recursos, al aprovechamiento de los espacios de poder y a la falta de transparencia en el ejercicio de la función pública siguen apareciendo semana tras semana, partido tras partido. <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Leer completo</a></p>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <p>Cada vez se hace más claro que no es únicamente un problema vinculado con algunos actores que cometieron actos ilícitos. Es necesario reconocer que es un problema en el diseño de un sistema que permite -e incluso favorece- relaciones oscuras entre el dinero y la política. Un sistema que beneficia intereses particulares por encima del bien común.</p>

        <p><span>Lxs ciudadanxs queremxs que ese sistema cambie y estamos listxs y dispuestxs a participar en esa transformación.</span> Sabemos que en este momento Chile necesita un diálogo más abierto en el que todos los sectores de la sociedad estemos representadxs. Sólo así se podrá reconstruir la legitimidad que hoy se ha perdido.</p>

        <p>Lo sucedido en los últimos meses es sumamente delicado para el país y no es más que la penosa consecuencia del abismo que se creó entre representantes y representados; entre gobierno y sociedad. Reconocemos los esfuerzos que se han hecho para identificar las problemáticas y plantear soluciones. Ejercicios como el de la Comisión Engel integró un conjunto de recomendaciones esenciales sobre la falencias y oportunidades que es urgente atender. Pero ese es únicamente un inicio. Ahora es necesario convertir esas recomendaciones en mecanismos concretos. En cambios reales sobre los cuales volver a confiar.</p>

        <p><span>Lxs ciudadanxs queremos sentirnos representadxs y para ello exigimos una mayor transparencia y cercanía de nuestros representantes.</span> También, necesitamos certezas de que nuestra voz cuenta. Queremos hacerla valer.</p>

        <p><span>Lxs ciudadanxs queremos asumir la responsabilidad de estar presentes en las decisiones que se deben tomar y en cómo se tomarán.</span> No queremos mirar desde fuera. Hoy sabemos que nos toca involucrarnos en cada espacio y cada día, a través de un debate abierto y un diálogo basado en la transparencia y la confianza.</p>

        <p>Por eso, hacemos un llamado para que lxs ciudadanxs estemos más unidxs que nunca: construyamos una voz conjunta, seamos exigentes, busquemos la transparencia donde hoy se ha vuelto opaco. Esta es la mejor oportunidad que tenemos para construir la mejor democracia posible. No la desaprovechemos.</p>

        <p><span>Lxs ciudadanxs somos la base de una democracia de todxs, con todxs, para todxs y estamos disponibles para ayudar. Por eso hoy #LxsCiudadanxsQueremos.</span></p>
    </div>
</div>