<!-- related projects reform -->
<div class="fullwidth">
    <div class="container">
        <div class="reform">
            <h1>Decálogo Dinero y Política</h1>
            <h2>Te presentamos la propuesta de Ciudadano Inteligente para regular el financiamiento de la política y la postura del Gobierno y del Congreso.</h2>
            <br />
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th><p>Propuesta</p></th>
                        <th><p>Postura Gobierno</p></th>
                        <th><p>Postura Diputados</p></th>
                        <th><p>Postura Senadores</p></th>
                    </tr>
                    <tr>
                        <td>
                            <p>Prohibir las donaciones de personas jurídicas.</p><span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Prohibir las donaciones de personas jurídicas. http://twitpic.com/ecabkj"></a></span>
                        </td>
                        <td><p><i class="fa fa-check"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Regular la entrega de créditos para el financiamiento de campañas o partidos y su pago, así como la publicidad de esta información.</p><span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Regular los créditos bancarios para el financiamiento de la política. http://twitpic.com/ecabkj"></a></span>
                        </td>
                        <td><p><i class="fa fa-times"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></p></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Prohibir donaciones anónimas.</p><span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Prohibir donaciones anónimas. http://twitpic.com/ecabkj"></a></span>
                        </td>
                        <td><p><i class="fa fa-check"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></p></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Reformular donaciones reservadas, rebajando su monto máximo a 20 UF y que en total no puedan representar más de un 20% del límite al gasto electoral.</p><span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Donaciones públicas por regla general y sólo reservadas para donaciones de menos de 20 UF http://twitpic.com/ecabkj"></a></span>
                        </td>
                        <td><p><i class="fa fa-times"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></p></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Rebajar el límite actual de gasto electoral.</p><span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Rebajar el límite actual de gasto electoral. http://twitpic.com/ecabkj"></a></span>
                        </td>
                        <td><p><i class="fa fa-check"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></p></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Equiparar normas sobre donaciones a las campañas a los partidos políticos.</p><span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Equiparar normas sobre donaciones a las campañas a los partidos políticos. http://twitpic.com/ecabkj"></a></span>
                        </td>
                        <td><p><i class="fa fa-check"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></p></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Financiamiento público basal a los partidos políticos, asociado a mayores obligaciones de transparencia, rendición de cuentas y actividades de capacitación.</p><span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Financiamiento público a los Partidos Políticos asociado a mayor transparencia http://twitpic.com/ecabkj"></a></span>
                        </td>
                        <td><p><i class="fa fa-times"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Modernización de los sistemas informáticos del Servel, posibilitando la transparencia online y en tiempo real del financiamiento y gastos de campañas.</p><span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-url="{{site.url}}" data-text="Dinero y Política: Transparencia online y en tiempo real del financiamiento y gastos. http://twitpic.com/ecabkj"></a></span>
                        </td>
                        <td><p><i class="fa fa-times"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></p></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Robustecimiento de las facultades y recursos del Servel, para posibilitar una verdadera fiscalización activa.</p><span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Más facultes y recursos para el Servel, queremos fiscalización activa! http://twitpic.com/ecabkj"></a></span>
                        </td>
                        <td><p><i class="fa fa-times"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></p></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Elevar las sanciones, y en casos graves de infracción, sancionar con pena aflictiva que conlleva a la pérdida del derecho de sufragio y el cargo.</p><span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Mayores sanciones para las malas prácticas relacionadas con dinero y política. http://twitpic.com/ecabkj"></a></span>
                        </td>
                        <td><p><i class="fa fa-check"></i></p></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></td>
                        <td><p><i class="fa fa-ellipsis-h"></i></td>
                    </tr>
                </tbody>
            </table>
        <p><i class="fa fa-check"></i></td> = Esta de acuerdo</p>
    <p><i class="fa fa-times"></i></td> = No esta de acuerdo</p>
<p><i class="fa fa-ellipsis-h"></i></td> = No se ha pronunciado</p>

</div>
</div>
</div>
<!-- /.reform -->