  <div class="col-sm-12">
    <div id="carouselTwo" class="owl-carousel">
      <div class="item"><p>Texto</p></div>
      <div class="item"><img src="http://placehold.it/150x100" alt="HIVOS"></div>
      <div class="item"><img src="http://placehold.it/150x100" alt="ILDA"></div>
      <div class="item"><img src="http://placehold.it/150x100" alt="CORFO"></div>
      <div class="item"><img src="http://placehold.it/150x100" alt="CEPAL"></div>
      <div class="item"><img src="http://placehold.it/150x100" alt="WorldBank"></div>
      <div class="item"><img src="http://placehold.it/150x100" alt="OEA"></div>
    </div>
    <div class="owl-carousel-navigation">
      <a class="owl-btn prevTwo fa fa-angle-left"></a>
      <a class="owl-btn nextTwo fa fa-angle-right"></a>
    </div>
  </div>