  <div class="col-sm-12">
    <div id="carouselTwo" class="owl-carousel">
      <div class="item"><p>Sunlight Foundation, <br />United States of America</p></div>
      <div class="item"><p>Global Integrity, <br />United States of America</p></div>
      <div class="item"><p>Directorio Legislativo, <br />Argentina</p></div>
      <div class="item"><p>Transparency International Secretariat</p></div>
      <div class="item"><p>Asociación por los Derechos Civiles, Argentina</p></div>
      <div class="item"><p>Visión Legislativa, <br />México</p></div>
      <div class="item"><p>Data, <br />Uruguay</p></div>
      <div class="item"><p>Asociación Civil por la Igualdad y la Justicia, Argentina</p></div>
      <div class="item"><p>Fundar, <br />México</p></div>
      <div class="item"><p>Poder Ciudadano, <br />Argentina</p></div>
      <div class="item"><p>Acción Ciudadana, <br />Guatemala</p></div>
      <div class="item"><p>Observatorio Legislativo, <br />Colombia</p></div>
      <div class="item"><p>Congreso Transparente, <br />Guatemala</p></div>
      <div class="item"><p>Asociación Civil Transparencia, <br />Perú</p></div>
      <div class="item"><p>Semillas para la Democracia, <br />Paraguay</p></div>
      <div class="item"><p>Observatorio Legislativo, Instituto de Ciencias Políticas, Colombia</p></div>
      <div class="item"><p>Observatorio Legislativo, <br />Ecuador</p></div>
      <div class="item"><p>Transparencia por Colombia, <br />Colombia</p></div>
      <div class="item"><p>Instituto Atuação, <br />Brasil</p></div>
      <div class="item"><p>Fundación Ciudadana Civio, <br />Spain</p></div>
      <div class="item"><p>ESPM Rio, <br />Brasil</p></div>
      <div class="item"><p>Ong Moral e Cidadania, <br />Brasil</p></div>
      <div class="item"><p>Ame a Verdade, <br />México</p></div>
      <div class="item"><p>Codeando México, <br />México</p></div>
      <div class="item"><p>Associação dos Especialistas em Políticas Públicas do Estado de São Paulo, Brasil</p></div>
      <div class="item"><p>Transparencia México, <br />México</p></div>
      <div class="item"><p>Transparencia Venezuela, <br />Venezuela</p></div>
      <div class="item"><p>Congreso Interactivo, <br />Argentina</p></div>
      <div class="item"><p>Transparência Hackday Portugal, Portugal</p></div>
    </div>
    <div class="owl-carousel-navigation">
      <a class="owl-btn prevTwo fa fa-angle-left"></a>
      <a class="owl-btn nextTwo fa fa-angle-right"></a>
    </div>
  </div>