/**
 * Site header
 */
 html body{
  margin: 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
 }

h1 {
  font-weight: 300;
  font-size: 46px;
}

h2 {
  font-weight: 100;
}

 h3 {
  font-weight: 100;
 }

h4, .h4 {
  line-height: 28px;
}

 h5 {
  font-weight: 500;
 }

 p{
  color: #45515E;
  line-height: 26px;
  margin: 0;
  padding: 0;

 }

 a{
  color: $purple;
 }

 a:hover, a:visited, a:active {
  color: $darkpurple;
 }

 input {
  height: 42px;
  border: none;
  padding: 10px;
}

 .text-width {
  max-width: 800px;
  margin: 0 auto;
 }


.site-header {
  padding: 5px;
  position: relative;
  background-color: #FFFFFF;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $darkgrey;
    }
}

.site-nav {
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $darkgrey;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $lightgrey;
        border: 1px solid $lightgrey;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $darkgrey;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.siteLogo{
  background: url(../img/logo-header.png) no-repeat 0 0 transparent;
  background-size:225px 72px;
  height: 72px;
  display: block;
  width: 225px;
  text-indent: -99999px;
  float: left;
}

/**
 * Nav bar
 */

.navbar {
  background-color: #1C3973;
  min-height: 70px;
  font-size: 20px;
  padding-top: 8px;
  border-color: rgba(0, 0, 0, 0);
  color: #fff;
}

a.navbar-brand {
  font-size: 20px;
  padding-top: 5px;
  margin-bottom: 18px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF;
  padding: 9px 13px;
  border-radius: 3px;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #112D64;
}

ul.nav.navbar-nav.navbar-right {
  margin-top: 7px;
}

.sub-brand {
  font-size: 13px;
  float: left;
  text-transform: lowercase;
  margin-top: 38px;
}


/**
 * Site footer
 */

footer {
  background: #FFFFFF;
  padding: 30px 0 10px;
  margin-top: 50px;
}

.centerCont {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

#convocan span {
  float: left;
  margin-right: 20px;
  list-style: none;
}

footer span {
  float: right;
  margin-top: 20px;
}
footer a img {
  opacity: 0.7;
  max-width:200px;
}
footer a img:hover {
  opacity: 1;
}
.site-footer {
    border-top: 1px solid $lightgrey;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey;
}

.post-link {
    display: block;
    font-size: 24px;
}

/*HERO*/

.hero h1 {
  margin: 120px 0 30px;
  line-height: 58px;
}

.hero span.bg-red {
  color: #FFFFFF;
  background: $red;
  padding: 0 4px;
}

.hero span.bg-blue {
  color: #FFFFFF;
  background: $blue;
  margin-right: 4px;
  padding: 0 4px;
}

.progress {
  height: 60px;
  border-radius: 0px;
}

.progress-bar-danger {
  background-color: $red;
  padding: 13px 0px;
}

.graph-legend {
  line-height: 16px;
}

.graph-legend h2 {
  margin-bottom: 0;
}

.graph-legend.danger {
  color: $red;
}

.progress-bar-warning {
  background-color: $purple;
  padding: 13px 0px;
  border-right: 4px solid $lightgrey;
}

.graph-legend.warning {
  color: $purple;
  font-size: 14.8px;
}

.progress-bar-success {
  background-color: $blue;
  padding: 13px 0px;
  border-right: 4px solid $lightgrey;
}

.graph-legend.success {
  color: $blue;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
/** custom styles QTF V2.0 **/

.petition{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background: #F8F8F8;
}

.petition h2 {
  color: #000;
}

.petition h2 a {
  background: #000;
  color: #fff;
  font-size: 50px;
  padding: 5px 15px;
  float: right;
  margin-top: 10px;
  text-decoration: none;
}

.titleLine {
  margin: 95px auto 70px;
  text-align: center;
  position: relative;
}

.titleLine:before {
  content: url(../img/maletin.png);
  position: absolute;
  top: -150px;
  left: 40.5%;
  z-index: -1;
}

.titleLine h1 {
  color: #EF4036;
  margin: 60px 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 60px;
}

.titleLine h2{
  font-size: 42px;
}

.caption h3{
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.reform{
  margin: 0 auto;
  padding: 10px 40px 40px;
  max-width: 900px;
  background: #fff;
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.reform h2{
  color: #1B1B1B;
  font-size: 24px;
  margin: 0;
  padding:0;
}

/** Components **/

.inside{
  color: #fff;

}
.chart{
  margin: 50px auto 0;
  text-align: center;
  width: 100%;
}

.people{
  margin: 30px 0;
}

.firm{
  margin: 90px auto 0;
  max-width: 800px;
}

.firm h3{
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.banner {
  background: #2BAF2B;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 50px 0;
}

.info{
  max-width: 900px;
  margin: 0 auto;
}

.info h1{
  color: #fff;
}

.info p{
  color: #fff;
}

.nro-peticiones{
  margin: 20px 0;
  color: #45515E;
}

/*PERSONAS*/

.thumbnail{
  border: none !important;
}

.thumbnail p {
  margin-bottom: 12px;
  line-height: 22px;
}

.thumbnail>img, .thumbnail a>img{
  width: 100%;
}

.destacado .thumbnail {
  background-color: #EF4036;
}

.destacado .thumbnail .caption {
  color: #ffffff;
}

.destacado .thumbnail p {
  color: #FFC4C4;
}

.embed-googledocs{
  margin: 50px auto;
  max-width: 800px;
}

.tableauPlaceholder{
  margin: 0 auto;
}

.fullwidth{
  background: #F8F8F8;
  width: 100%;
  margin: 0 auto ;
  padding: 50px 0;
}

.inside{
  max-width: 960px;
  margin: 0 auto;
}

.follow{
  margin: 10px 0 20px 0;
}

.embed{
  margin: 40px auto 0;
  max-width: 800px;
}

.grid{
  padding-bottom: 50px;
}

p.twitter-share{
  margin: 10px 0 5px 0;
}

.against-vote{
  margin: 10px;
}

.share-img{
  margin-top: 50px;
  margin-bottom: 50px;
}

.item{
  margin-bottom: 20px;
}

.navbar-brand {
  padding: 15px 0px;
}

.mainNav {
  float: right;
  list-style: none;
  padding: 15px 0;
}

.mainNav ul {
  float: right;
  list-style: none;
  position: relative;
  margin: 10px 0 0 0;
  -webkit-padding-start: 0px;
}

.mainNav ul li {
  float: left;
  margin-left: 20px;
  list-style: none;
}

ul.nav.nav-pills {
  margin-top: 9px;
}

.nav>li>a {
  padding: 13px 15px;
}

.nav>li>a:hover, .nav>li>a:focus {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* -------------------- Buttons -------------------- */


.btn-lg {
  padding: 10px 35px;
  font-size: 20px;
  line-height: 1.33;
}

.btn {
  background: $grey;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.btn:hover {
  box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.6);
  color: #FFFFFF;
}

a.btn {
  color: #ffffff;
  text-decoration: none;
}

.btn-success {
  background: #bd10e0; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #bd10e0 0%, #f55923 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#bd10e0), color-stop(100%,#f55923)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #bd10e0 0%,#f55923 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #bd10e0 0%,#f55923 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #bd10e0 0%,#f55923 100%); /* IE10+ */
  background: linear-gradient(135deg,  #bd10e0 0%,#f55923 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd10e0', endColorstr='#f55923',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border: none;
}

.btn-success:hover {
  color: #ffffff;
  border-color: none;
  background: #bd10e0; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #bd10e0 0%, #f55923 70%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#bd10e0), color-stop(70%,#f55923)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #bd10e0 0%,#f55923 70%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #bd10e0 0%,#f55923 70%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #bd10e0 0%,#f55923 70%); /* IE10+ */
  background: linear-gradient(135deg,  #bd10e0 0%,#f55923 70%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd10e0', endColorstr='#f55923',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.btn-primary {
  background: $blue;
  border: none;
}


.share-btn {
  width: 100%;
  text-align: center;
  margin: 20px 0 70px;
}

.tweet-btn {
  margin: -13px 0 30px;
}

.contact a{
  color: #ffffff;
}

.contact a:hover{
  text-decoration: none;
}

.petition a:visited{
  color: #ffffff;
}

.contact{
  margin: 10px auto 0;
}

a#mycustomtwitterbutton {
  padding: 5px;
  background: #55acee;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  margin-right: 1px;
  font-size: 12px;
}

a#mycustomtwitterbutton:hover {
  background: #328ACD;
}

a#mycustommailbutton {
  font-size: 12px;
  padding: 5px;
  background: #EF4036;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  margin-left: 1px;
}

.destacado a#mycustomtwitterbutton {
  background: #fff;
  color: #55acee;
}

.destacado a#mycustommailbutton {
  background: #fff;
  color: #EF4036;
}

.destacado a#mycustomtwitterbutton:hover {
  color: #328ACD;
  background: #CCE7F7;
}

.destacado a#mycustommailbutton:hover {
  color: #D52D24;
  background: #FFD9D9;
}

a#mycustommailbutton:hover {
  background: #D52D24;
}


/* list styles for reform #2 */

ol.simple-list {
    list-style-type: none;
    list-style-type: none;
    margin: 50px 0;
    margin-left: 3em;
    padding: 0;
    counter-reset: li-counter;
}
ol.simple-list > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 1.5em;
    min-height: 3em;
    border-left: 1px solid #CCCCCC;
}
ol.simple-list > li:before {
    position: absolute;
    left: -58px;
    width: 0.8em;
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
    content: counter(li-counter);
    counter-increment: li-counter;
}

/** custom layout for five columns **/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }

}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

@media (max-width: 768px) {

  .banner {
    background: #2BAF2B;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 50px 0;
  }

  .info{
    max-width: 900px;
    margin: 0 auto;
  }

}

/** queries for mobile **/
@media (max-width: 428px) {
  .thumbnail{
  border: none !important;
  float: left;
  width: 100%;
}

.thumbnail>img, .thumbnail a>img{
  width: 30%;
  float: left;
}

.thumbnail .caption {
  padding: 9px;
  color: #333;
  float: left;
}

}

@media (max-width: 768px) {
  .thumbnail{
  border: none !important;
  float: left;
  width: 100%;
}

.thumbnail>img, .thumbnail a>img{
  width: 30%;
  float: left;
}

.thumbnail .caption {
  padding: 9px;
  color: #333;
  float: left;
}

.caption h3 {
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

}

/** styles for pastures visualization **/
.postures{
  margin: 50px auto;

}

.chamber-2{
  max-width: 900px;
  margin: 0 auto;
}

.postures h2{
  font-size: 24px;
  line-height: 30px;
  margin: 0 auto 40px;
  text-align: center;
}

.postures p{
  color: #fff;
  margin: 10px 0 0 0 ;
  text-align: center;
}

.progress{
  margin: 40px 0 0 0;
}
img.chamber {
  z-index: 2;
  position: absolute;
}
span.positive {
  width: 60px;
  background-color: green;
  height: 60px;
  z-index: 3;
  display: block;
  position: relative;
  opacity: 0.3;
  border-radius: 50px;
}
span.against {
  width: 60px;
  background-color: red;
  height: 60px;
  z-index: 3;
  display: block;
  position: relative;
  opacity: 0.3;
  border-radius: 50px;
}
span.abstention {
  width: 60px;
  background-color: #5BC0DE;
  height: 60px;
  z-index: 3;
  display: block;
  position: relative;
  opacity: 0.6;
  border-radius: 50px;
}
span.ausent {
  width: 60px;
  background-color: #f0ad4e;
  height: 60px;
  z-index: 3;
  display: block;
  position: relative;
  opacity: 0.3;
  border-radius: 50px;
}
span.paring {
  width: 60px;
  background-color: #F0AD4E;
  height: 60px;
  z-index: 3;
  display: block;
  position: relative;
  opacity: 0.6;
  border-radius: 50px;
}

/*BANNER HAY ACUERDO*/

.fullwidth.banner-hayacuerdo {
  background: #EF4036;
  padding: 0;
}

.txt-banner-hayacuerdo {
  max-width: 900px;
  margin: 30px auto;
  text-align: center;
  background: #1B1B1B;
  padding: 20px 110px;
  position: relative;
}

.txt-banner-hayacuerdo a {
  font-size: 32px;
  color: #EF4036;
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
}

.txt-banner-hayacuerdo:before {
  content: url(../img/noacuerdoizq.svg);
  position: absolute;
  top: 20px;
  left: 4px;
}

.txt-banner-hayacuerdo:after {
  content: url(../img/noacuerdoder.svg);
  position: absolute;
  top: 20px;
  right: 4px;
}

/*BOX */

.box {
  background: #FFFFFF;
  padding: 15px 0;
  box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.2);
  margin-bottom: 30px;
}

.box.urgente {
  border: 5px solid $red;
  -webkit-animation: border-color 2s infinite; /* Chrome, Safari, Opera */ 
  animation: border-color 2s infinite;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes border-color {
    0%   {border-color: $red}
    50%  {border-color: $purple}
    100%   {border-color: $red}
} 

/* Standard syntax */ 
@keyframes border-color {
    0%   {border-color: $red}
    50%  {border-color: $purple}
    100%   {border-color: $red}
}

.support {
  padding: 15px;
}

.news {
  background-color: $blue;
  padding: 15px;
  color: #FFFFFF;
}

.news blockquote {
  border-left: 4px solid #FFFFFF;
}

.news a {
  color: #FFFFFF;
  text-decoration: underline;
}

.news a:hover, .news a:visited, .news a:active {
  color: #FFFFFF;
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

.card-description {
  padding: 15px;
}

.label-en-discusion {
  background-color: $purple;
}

.label-aprobada {
  background-color: $blue;
}

.label-rechazada {
  background-color: $red;
}


.label-pendiente {
  background-color: $darkgrey;
}

.urgency {
  float: left;
}

.label-urgente {
  background-color: $red;
  -webkit-animation: change-width 2s infinite; /* Chrome, Safari, Opera */ 
  animation: change-width 2s infinite;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes change-width {
    0%   {background-color: $red}
    50%  {background-color: $purple}
    100%   {background-color: $red}
} 

/* Standard syntax */ 
@keyframes change-width {
    0%   {background-color: $red}
    50%  {background-color: $purple}
    100%   {background-color: $red}
}

.counter {
  padding: 0px 20px;
  margin: 0px -30px 0px 0px;
}

.counter li {
  background: url(../img/counter-bg.png) no-repeat;
  color: #fff;
  font-size: 42px;
  line-height: 46px;
  padding: 6px 8px;
}

#counter li {
  background: url(../img/counter-bg-big.png) center no-repeat;
  color: #fff;
  font-size: 75px;
  padding: 0px 16px;
  font-weight: 100;
}

li.party span {
  min-width: 99px;
  margin-bottom: 6px;
}

ul {
  margin-left: 15px;
}

.box .label {
    margin-right: -6px;
    border-radius: 0;
    padding: 5px 12px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
}

.align-parlamentarios {
  height: 45px;
  line-height: 45px;
}

.align-ciudadanos {
  margin-top: 6px;
}

#cards {
  position: relative;
  margin-top: 100px;
}

#cards:before {
  content: url(../img/ciudadanos.png);
  top: -90px;
  left: 50%;
  position: absolute;
  margin-left: -179px;
}


/*MEME GENERATOR*/
#main {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  width: 100%;
}

table td {
  padding-right: 10px;
}

textarea {
  text-align: center;
  font-size: 22px;
  height: 3em;
}


/*Manifiesto*/

#manifesto p {
  font-size: 18px;
  line-height: 28px;
  color: #333;
  margin-bottom: 15px;
}

.manifiesto span {
  color: #fff;
  background-color: $blue;
}

.row.support-form {
  margin-bottom: 90px;
}

.manifiesto {
  background-color: #ffffff;
  padding: 70px 70px 130px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.21);
  margin-bottom: 50px;
  text-align: justify;
}

.manifiesto h1 {
  margin: 0px 0 50px;
}

h2.hero {
  margin: 80px 0 30px;
}

/*Card view*/

.card-view {
  margin: 150px 0 100px;
  position: relative;
}

.card-view .card-description {
  padding: 15px 40px;
}

.card-view .news {
  padding: 15px 40px;
}

.card-view .support {
  padding: 15px 40px;
}

.card-view .align-ciudadanos {
  margin: 17px 0 10px;
}

.card-view blockquote {
  font-size: 15px;
}

.card-view:before {
  content: url(../img/ciudadanos.png);
  top: -90px;
  left: 50%;
  position: absolute;
  margin-left: -179px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 800px) {
    .sub-brand {
        display: inline-block;
        margin-top: 0px;
    }

    .logo-fci {
      display: none;
    }
}